<div class="column-layout mini-nav">
  <div class="column-layout logo-and-top-menu-items">
    <img src="/assets/S4Labour-Logo-White.png" class="logo" />
    <div class="column-layout top-menu-items">
      <div routerLink="/dashboard" class="column-layout menu-item-1">
        <img src="/assets/Filled_Dashboard_Inverted.svg" class="image" />
        <p class="ig-typography__caption text">
          Dashboard
        </p>
      </div>
      <div class="column-layout menu-item-2">
        <img src="/assets/Filled_Customers_Inverted.svg" class="image" />
        <p class="ig-typography__caption text">
          People
        </p>
      </div>
      <div class="column-layout menu-item-2">
        <img src="/assets/Generic_Calendar_Filled.svg" class="image" />
        <p class="ig-typography__caption text">
          Rota
        </p>
      </div>
      <div routerLink="/reports" class="column-layout menu-item-2">
        <img src="/assets/Filled_Reports_Inverted.svg" class="image" />
        <p class="ig-typography__caption text">
          Reports
        </p>
      </div>
      <div class="column-layout menu-item-2">
        <img src="/assets/Generic_Add_User_Filled.svg" class="image" />
        <p class="ig-typography__caption text">
          Admin
        </p>
      </div>
      <div class="column-layout menu-item-2">
        <img src="/assets/Generic_Launch_Filled.svg" class="image" />
        <p class="ig-typography__caption text">
          Shift Success
        </p>
      </div>
      <div class="column-layout menu-item-2">
        <img src="/assets/Generic_Wallet_Filled.svg" class="image" />
        <p class="ig-typography__caption text">
          Payroll
        </p>
      </div>
    </div>
  </div>
  <div class="column-layout top-menu-items">
    <div class="column-layout bottom-menu-item">
      <img src="/assets/Generic_Chat_Filled.svg" class="image" />
      <p class="ig-typography__caption text">
        Suggestions
      </p>
    </div>
    <div class="column-layout bottom-menu-item">
      <img src="/assets/Generic_Help_Filled.svg" class="image" />
      <p class="ig-typography__caption text">
        Help Centre
      </p>
    </div>
    <div class="column-layout bottom-menu-item">
      <img src="/assets/Filled_Settings_Inverted.svg" class="image" />
      <p class="ig-typography__caption text">
        Settings
      </p>
    </div>
  </div>
</div>
<div class="column-layout group">
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
